*
{
	box-sizing:border-box;
}
html,
body
{
	background:#000;
	--bgGrid:#222;
	margin:0;
	padding:0;
}
.grid
{
	background:var(--bgGrid);
	display:block;
	height:100vmin;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	width:100vmin;

	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.grid::after/*prevents child elements from intercepting inputs*/
{
	content:"";
	display:block;
	height:100%;
	width:100%;
	z-index:1;
}
.tile
{
	align-items:center;
	background-color:#eee;
	border:0.5rem solid var(--bgGrid);
	border-radius:25%;
	display:flex;
	justify-content:center;
	position:absolute;
}
.max
{
	color:red;
}